language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1

# lock distro so new future defaults will not break the build
dist: precise

# also test against HHVM, but require "trusty" and ignore errors
matrix:
  include:
    - php: hhvm
      dist: trusty
  allow_failures:
    - php: hhvm

install:
  - composer install --no-interaction

script:
  - vendor/bin/phpunit --coverage-text
